@mixin flex($align:stretch, $justify:flex-start, $direction:row){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}
@mixin grid($num){
    display: grid;
    grid-template-columns: repeat($num, 1fr);
}