@keyframes fromLeft{
    0%{
        transform: translateX(-20%);
        opacity: 0;
    }
    80%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fromRight{
    0%{
        transform: translateX(20%);
        opacity: 0;
    }
    80%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fromDown{
    0%{
        transform: translateY(30%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}